* {
  font-family: Arial, Helvetica, sans-serif;
}

#page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: paleturquoise;
  text-align: center;
  overflow: auto;
}

#color-codes {
  margin-bottom: 10vh;
  font-size: 2vmin;
}

button {
  border: none;
  background-color: #e1909b;
  color: white;
  font-size: 2vmin;
  padding: 3vmin;
  border-radius: 10px;
  margin-bottom: 5vh;
}

button:hover {
  opacity: 0.2;
  cursor: pointer;
}

#color-codes > span {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

#input-modal {
  position: absolute;
  left: 10vw;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  height: 50vh;
  width: 80vw;
  top: 20vh;
  background-color: white;
  visibility: hidden;
}

#input-modal > * {
  visibility: inherit;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

#input-values {
  width: 80%;
  background-color: white;
}

.modal-info {
  font-size: 2.5vh;
}

#canvas {
  background-color: white;
  display: block;
  margin: auto;
}

#menu > * {
  visibility: inherit;
}
